/* to make sure the page is always filled entirely */
.fill {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

th, td {
    border-bottom: 1px solid #CDCDCD;
    padding: 10px;
}

tr:hover {background-color: #616161;}